<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Borrow book - Worblehat Bookmanager</title>
</head>
<body>
	<h1>Borrow Book</h1>

	<form th:object="${borrowedFormData}" method="POST">
		Email:<input id="email" type="text" th:field="*{email}" />
		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		<br />
		<input type="submit" id="borrowBook" value="Show borrowed books" />
		<hr />
		<a th:href="@{/}">Back to Home</a>
	</form>


</body>
</html>
